body {
    font-family: Montserrat;
    color: #2B3541;
}
.container {
    max-width: 1143px;
    margin: 0 auto;        
}
.header {
    max-width: 1817px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 54px 50px 0px;
}
.header-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 44.3%;  
}
.header-logo { 
    display: block;   
    background-image: url(../img/logo.svg);         
    background-repeat: no-repeat;
    background-size: contain;
    width: 97px;
    height: 30px;
}
.header-logo:hover { 
    width: 98px;
    transition: 0.2s;    
}
.header-burger {
    display: none;
}
.header-social {
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin: auto 0;
}
.header-nav {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 55.6px;
    padding-left: 0;
}
.nav-items {
    font-size: 18px;
    line-height: 150%;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
}
.nav-items:hover {
    border-bottom: 1px solid #2B3541;
    padding-bottom: 10px;
    transition: 0.2s;
}
.header-social-fb {
    display: block;
    background-image: url(../img/icons/FB.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}
.header-social-fb:hover {
    width: 38px;
    height: 38px;
    transition: 0.2s;
}
.header-social-in {
    display: block;
    background-image: url(../img/icons/ins.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}
.header-social-in:hover {
    width: 38px;
    height: 38px;
    transition: 0.2s;
}
.menu-items {
    margin-bottom: 80px;
}
.menu {
    position: relative;
    margin-bottom: 112px;
}
.menu-bg {
    position: relative;
    background-image: url(../img/@2x/Image-1-screen@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% -20px;
    height: 852px;
    margin-right: 205px;
    margin-top: 30px;    
}
.menu-text {
    max-width: 676px;
    padding-top: 178px;
    padding-left: 389px;
}
.menu-title {
    max-width: 676px;
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;    
    text-transform: uppercase;
    letter-spacing: 0.03em;
    padding: 0;
    margin-bottom: 0;
}
.menu-title-flex {
    display: flex;
    gap: 19px;
}
.menu-item-text {
    font-size: 40px;
    line-height: 125%;
    padding-top: 41px;
    padding-bottom: 0px;
    margin: 0;    
}
.menu-item-text-sport {
    max-width: 300px;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    padding-top: 21px;
    padding-bottom: 35px;
    margin: 0;
}
.menu-button {
    display: block;
    max-width: 193px;
    text-decoration: none;
    padding: 20px 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    background-color: #FBF138;
    color: #2B3541;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.1);    
}
.menu-button:hover {
    color: #FBF138;
    background-color: #2B3541;
    transition: 0.2s;
}
.menu-arroy {    
    position: absolute;
    background-image: url(../img/icons/Arrow.svg);
    left: 478px;
    bottom: 19px;
    width: 52px;
    height: 55px;
}
.menu-bg-mobil {
    display: none;
}
.menu-titles {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    padding-top: 30px;
    padding-bottom: 40px;
    margin: 0;
}
.menu-greeds {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.menu-greed-item-maraphon {
    position: relative;
    max-width: 367px;
    max-height: 600px;
}
.menu-greed-item-maraphon:hover .menu-grid-overlay {
    opacity: 1;
    transition: 0.2s;
}

.menu-grid-cover {    
    width: 367px;
    height: 600px;
}
.menu-grid-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -o-object-fit: cover;
    object-fit: cover;
    width: 367px;
    height: 100%;
    z-index: -1;
}

.menu-grid-overlay {
    position: absolute;
    background: linear-gradient(180deg, rgba(251, 241, 56, 0.6) 0%, rgba(253, 249, 182, 0) 100%);
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0;
}
.menu-grid-maraphon-text {
    padding-top: 30px;
    padding-left: 30px;
}


.menu-grid-btn {
    max-width: 221px;
    padding: 20px 37px;
    background-color: #2B3541;
    color: #FBF138;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0;
}
.menu-greed-item-maraphon:hover .menu-grid-btn {
    background-color: #2B3541;
    color: #FBF138;
    opacity: 1;
    transition: 0.2s;
}

.menu-greed-1nt:hover {
    background-image: url(../img/@2x/maraphonhover@2x.png);
    transition: 0.2s;
}
.menu-grid-data {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #2B3541;
    opacity: 0.6;
}
.menu-grid-maraphon-mrf {
    position: absolute;
    background-color: #FBF138;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 150%;
    right: 0;
    bottom: 0;
}
.menu-greed-item-maraphon:hover .menu-grid-maraphon-mrf {
    opacity: 0;
    transition: 0.2s;
}

.menu-grid-title {
    max-width: 260px;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    padding-top: 19px;
    padding-bottom: 40px;
    margin: 0;
}

.training {
    margin-top: 118px;
}
.functional-training {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 30px;   
    padding: 20px 30px;
    border: 1px solid rgba(43, 53, 65, 0.5);
    /* box-shadow: 0.5px 0 0 2px rgba(43, 53, 65, 0.5); */
}
.training-titles {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.training-image {
    /* padding-top: 55px; */
    padding-bottom: 0px;
}
.training-title {
    max-width: 356px;
    font-weight: bold;
    font-size: 40px;
    line-height: 125%;
}
.training-data {
    font-weight: bold;
    font-size: 28px;
    line-height: 125%;
}
.training-flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 250px 60px 95px 301px; */
    grid-template-rows: 250px 41px 73px 281px;

    grid-auto-flow: column;
    gap: 20px;
}
.training-flex div:nth-child(1) {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}
.training-flex div:nth-child(2) {
    grid-column: 1 / 1;
    grid-row: 2 / 5;
}

.training-flex div:nth-child(3) {
    
    grid-column: 2 / 2;
   grid-row: 1 / 4;
}

.training-flex div:nth-child(4) {
    grid-column: 2 / 2;
   grid-row: 4;
}
.training-flex div:nth-child(5){
    grid-column: 3 / 3;
   grid-row: 1 / 2;
}
.training-flex div:nth-child(6){
    grid-column: 3 / 3;
   grid-row: 3 / 5;
}
.training-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    margin: 0;
    padding-top: 40px;
    /* padding-bottom: 20px; */
}
.menu-text-span {
    font-size: 18px;
    line-height: 150%;
    padding-top: 20px;
    padding-bottom: 0;
    margin: 0;  
}
.menu-text-hidden {
    margin-top: 0;
    padding-top: 0;
    /* margin-bottom: 20px; */
    display: none;
    /* height: 0em; */
    /* opacity: 0; */
}
.functional-training:hover .menu-text-hidden {
    display: block;
    /* opacity: 1; */
    /* height: 4em; */
    transition: 1s;
}
.power-mix {
    padding: 20px 30px;    
    /* max-height: 433px; */
    max-width: 367px;
}
.power-mix-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    padding-top: 40px;
}

.training-date {
    display: block;
    text-align: right;
    font-size: 18px;
    line-height: 150%;
    color: #010101;
    opacity: 0.7;
}
.power-mix-img {
    padding-top: 95px;
    padding-bottom: 40px;

}

.body-sculpt-img {
    padding-top: 191px;
    padding-bottom: 40px;
}

.breathing-practices-img {
    padding-top: 94px;
    padding-bottom: 40px;
}
.l-a-b-img {
    padding-top: 133px;
    padding-bottom: 40px;
}
.complex-warm-img {
    padding-top: 182px;
    padding-bottom: 40px;
}

/* актив для js сегодня дата */
.training-action {
    background: linear-gradient(180deg, rgba(251, 241, 56, 0.7) 0%, rgba(253, 249, 182, 0.45) 100%);    
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
    border: none;
    height: 100%;
}
.training-active-data {
    font-weight: 700;
}
.mailing {
    max-height: 100%;
    position: relative;
    background-color: #F3F3F3;
    margin-top: 160px;
    z-index: 2;
}
.mailing-form {
    padding-left: 23px;
}
.mailing-item {
    position: relative;
    max-width: 646px;
    margin: 0 auto;    
    padding-top: 80px;
    padding-bottom: 80px;
}
.mailing-title {
    position: relative;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    margin: 0;
    padding-bottom: 40px;
}
.mailing-title::before {    
    position: absolute;
    content: " ";
    top: -17px;
    left: -4px;
    height: 53px;
    width: 53px;
    background-color: #FBF138;  
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    border-radius: 100%;  
    z-index: -1;
}



.mailing-image {
    position: absolute;
    background-color: #FBF138;
    height: 53px;
    width: 53px;    
    border-radius: 100%;
    top: 87px;
    left: 120px;
    z-index: 1;
}
.mailing-input {
    max-width: 372px;
    padding-left: 19px;
    padding-right: 95px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.mailing-input:hover {
    background-color: #F3F3F3;
    transition: 0.2s;
}
.mailing-item-flex {
    display: flex;
    gap: 20px;
}
.mailing-button {
    display: block;
    padding: 20px 43px;
    background-color: #FBF138;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
.mailing-button:hover {
    background-color: #2B3541;    
    color: #FBF138;
    transition: 0.2s;
} 
/* согласие на обработку данных */
.mailing-argee{
    padding-top: 11px;    
}
.mailing-checkbox {
    display:none;
}
.mailing-label {
    max-width: 600px;
    cursor: pointer;
}

.mailing-checkbox + .mailing-label {
    background-image: url(../img/icons/check-box-empty.svg);
    background-size: 18px 18px;       
    background-repeat: no-repeat;
    display:inline-block;
    padding: 2px 0 0 0px;
}
.mailing-checkbox:checked + .mailing-label {
    background: url(../img/icons/check_box.svg);
    background-repeat: no-repeat;        
    display:inline-block;
    padding: 2px 0 0 0px;
}
.mailing-text {    
    font-size: 11px;
    line-height: 150%;
    color: rgba(43, 53, 65, 0.5);
    padding: 0 23px;
    margin: 0;
}
.mailing-person {
    text-decoration-line: underline;
    color: rgba(43, 53, 65, 0.5);
}
.mailing-person:hover {
    color: rgba(43, 53, 65, 1);
    transition: 0.2s;
}
.company {
    margin-top: 4px;
}
.company-blok {
    padding-top: 160px;
    padding-bottom: 45px;
}

/* о компании */
.company-flex {
    display: flex;
    justify-content: space-between;
    gap: 77px;
}

.company-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 125%;
    padding-top: 0;
    padding-bottom: 19px;
    margin: 0;
}
.company-text {
    font-size: 18px;
    line-height: 150%;
    padding-bottom: 53px;
    padding-top: 0;
    margin: 0;
}
.company-button {
    padding: 20px 50px;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #2B3541;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
}
.company-button:hover {
    color: #FBF138;
    background-color: #2B3541;
    transition: 0.2s;
}

.company-blok-2 {
    display: flex;
    justify-content: space-between;
    gap: 67px;
    list-style-type: none;
    padding-left: 0;
}
.company-blok-2-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
}
.company-blok-2-text {
    font-size: 18px;
    line-height: 150%;
    opacity: 0.6;
}
/* footer ---------------------------------------*/
footer {
    position: relative;
    margin: 0 auto;
    background: #F3F3F3;
    padding-top: 58px;
    padding-bottom: 21px;
    z-index: 0;
    margin-top: 127px;
}
.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 56%;
    max-width: 631px;
    gap: 39px;
}
.footer-nav .header-logo {
    padding-right: 39px;
}
.footer-nav-flex {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 40px;
    padding-left: 0;
    flex-basis: 75%;
}
.footer-social {
    min-width: 84px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
.footer-contacts-a {
    display: block;
    position: relative;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    margin: 0;
}
.footer-contacts-a::before {    
    content: " ";
    position: absolute;
    top: -9px;
    left: -13px;    
    background-color: #FBF138;  
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    border-radius: 100%;
    height: 25px;
    width: 25px;
    
    cursor: pointer;
    z-index: -1;
}
.footer-social-fb {
    display: block;
    background-image: url(../img/icons/FB.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 28px;
    height: 28px;
    padding: 8px 0;
}
.footer-social-fb:hover {
    width: 34px;
    height: 34px;
    transition: 0.2s;
    padding: 0;
}
.footer-social-in {
    display: block;
    background-image: url(../img/icons/ins.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 28px;
    height: 28px;
    padding: 8px 0;
}
.footer-social-in:hover {
    width: 34px;
    height: 34px;
    transition: 0.2s;
    padding: 0;
}

.footer-ankor {
    color: #2B3541;
    text-decoration: none;
    font-size: 14px;
    line-height: 150%;
}
.footer-copyright {
    display: flex;    
    justify-content: space-between;
    font-size: 14px;
    line-height: 150%;
    color: rgba(43, 53, 65, 0.5);
}
.footer-copyright p {
    padding-top: 0;
    margin-top: 0;
}
.footer-contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 292px;
}
.footer-contacts-email {
    padding: 10px 0;
    align-items: center;
}
.footer-frontend-blok
.frontend-blok {
    text-decoration: underline;
    color: rgba(43, 53, 65, 0.5);
}
.frontend-blok:hover {
    color: rgba(43, 53, 65, 1);
    transition: 0.2s;
}


  /* @media ------------------------------- */
  @media (max-width: 1142px) {
    .footer-copyright {
    padding-left: 150px;
    padding-right: 150px;  
    font-size: 14px;
    }
  }

@media (max-width: 360px) {
    .menu {
        max-width: 359px;
        padding-right: 0px;
        padding-left: 0px;
        margin-bottom: 0px;
        text-align: center;
    }
    .header {
        padding: 30px 10px 60px;
        
    }
    .header-burger {
        display: block;
        background-image: url(../img/icons/burger.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 29px;
        height: 22px;
        margin-left: 57px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    .header-nav {
        display: none;
        /* нави отключаем */
    }
    .header-social {
        gap: 20px;
    }
    .header-social-in {
        width: 26px;
        height: 26px;
    }
    .header-social-fb {
        width: 26px;
        height: 26px;
        text-align: center;
    }
    .header-logo {
        width: 78px;
        height: 24px;
    }
    .header-logo:hover {
        width: 79px;
        transition: 0.2s;
    }
    /* навигация */
    .menu-bg {
        background-image: none;
        padding: 0 10px;
    }
    
    .menu-title {
        max-width: 358px;        
        font-size: 26px;
        margin: 0;
    }
    .menu-text {
        text-align: left;
    }
    .menu-item-text {
        font-size: 26px;
        padding-top: 40px;
        padding-bottom: 16px;    
        padding-left: 0;
    }
    .menu-item-text-sport {
        max-width: 255px;
        font-weight: 400;
        font-size: 16px;
        padding-left: 0px;
    }
    .menu-button {
        /* display: block; */
        max-width: 340px;
        text-decoration: none;
        padding: 17px 72px;
        font-weight: bold;
        font-size: 16px;
        margin: 40px auto;
    }
    .menu-button:hover {
        color: #FBF138;
        background-color: #2B3541;
        transition: 0.2s;
    }
    .menu-arroy {
        display: none;
    }
    .menu-bg-mobil {
        display: block;
        background: linear-gradient(180deg, #FDF9B6 100%, #FDF9B6 -100%);
        background-image: url(../img/@1x/image-1-girl.png);
        background-size: 100% 100%;
        height: 310px;
        /* width: 340px; */
        padding-right: 10px;
    } 
}