body {
    font-family: Montserrat;
    color: #2B3541;
    background: #FEFCFE;
}
.container {    
    position: relative;
    max-width: 1143px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 36px;
}
.header-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 57.6%;
}
.header-logo { 
    display: block;   
    background-image: url(../img/logo.svg);         
    background-repeat: no-repeat;
    background-size: contain;
    width: 97px;
    height: 30px;
}
.header-logo:hover { 
    width: 98px;
    transition: 0.2s;    
}
.header-burger {
    display: none;
    background-image: url(../img/icons/burger.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 29px;
    height: 22px;
    margin-left: 57px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.header-social {
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin: auto 0;
}
.header-social li {
    height: 38px;
}
.header-nav {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 54px;
    padding-left: 0;
}
.nav-items {
    font-size: 18px;
    line-height: 150%;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
}
.nav-items:hover {
    border-bottom: 1px solid #2B3541;
    padding-bottom: 10px;
    transition: 0.2s;
}
.header-social-fb {
    display: block;
    background-image: url(../img/icons/FB.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}
.header-social-fb:hover {
    transform: scale(1.2666);
    /* width: 38px; */
    /* height: 38px; */
    transition: 0.2s;
}
.header-social-in {
    display: block;
    background-image: url(../img/icons/ins.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}
.header-social-in:hover {
    transform: scale(1.2666);
    /* width: 38px; */
    /* height: 38px; */
    transition: 0.2s;
}
.menu-items {
    margin-bottom: 80px;
}
.menu {
    margin-top: 10px;
    display: flex;
}
.menu-visual {
    display: flex;
    max-width: 790px;
    width: 100%;
    gap: 20px;
    position: absolute;
    top: 0;
    z-index: -1;
    right: -57px;   
    /* right: -5%; */
}
.box-gradient-left {
    display: block;    
    background: linear-gradient(90deg, rgba(251, 241, 56, 0.2) 0%, rgba(253, 249, 182, 0.45) 145.23%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 213px;
    z-index: -1;
    flex-basis: 70%;
    height: 850px;
}
.box-gradient-right {
    display: block;
        background: linear-gradient(90deg, rgba(253, 249, 182, 0.2) 0%, rgba(253, 249, 182, 0.7) 166.81%);
        /* background: linear-gradient(rgb(253, 249, 182) 100%, rgb(253, 249, 182) -100%); */        
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 310px;
        width: 117px;
        right: 40px;
        z-index: -1;
        flex-basis: 30%;
        height: 850px;
}
.menu-bg {
    position: absolute;
    top: 0;
    right: -5.7vw;
    width: 996px;
    height: 850px;
}
.menu-bg-mobil-fon1 {
    display: none;
}
.menu-bg-mobil-fon2 {
    display: none;
}
.menu-text {
    max-width: 676px;
    padding-top: 197px;
}
.menu-title {
    max-width: 676px;
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;    
    text-transform: uppercase;
    letter-spacing: 0.03em;
    padding: 0;
    margin-bottom: 0;
}
.menu-title-flex {
    /* display: flex; */
    gap: 19px;
}
.menu-title-flex-group {
    display: flex;
    gap: 21px;
}
.menu-item-text {
    font-size: 40px;
    line-height: 125%;
    padding-top: 41px;
    padding-bottom: 0px;
    margin: 0;    
}
.menu-item-text-sport {
    max-width: 300px;
    font-size: 18px;
    line-height: 150%;
    padding-top: 21px;
    padding-bottom: 35px;
    margin: 0;
}
.menu-title-p {
    padding-left: 93px;
}
.menu-button {
    display: block;
    max-width: 193px;
    text-decoration: none;
    padding: 20px 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    background-color: #FBF138;
    color: #2B3541;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.1);    
    letter-spacing: 0.03em;
}
.menu-button:hover {
    color: #FBF138;
    background-color: #2B3541;
    transition: 0.2s;
}
.menu-arroy {    
    position: absolute;
    background-image: url(../img/icons/Arrow.svg);
    left: 0;
    bottom: -240px;
    width: 52px;
    height: 55px;
    transition: 0.3s;
}
.company-describ {
    text-align: end;
}
.menu-bg-mobil {
    display: none;    
}
.events {
    margin-top: 370px;
}
.menu-titles {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    padding-top: 30px;
    padding-bottom: 40px;
    /* margin-top: 130px; */
    /* margin-bottom: 0; */
    margin: 130px 0 0;
}
.menu-greeds {
    display: grid;
    gap: 20px;
    height: 600px;
    grid-template-areas:
    "a b c";
}
.menu-grid-box-marafon {
    position: relative;
    background-image: url(../img/@2x/maraphon@2x.png);
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    grid-area: a;
}
.menu-grid-gradient {
    background: linear-gradient(180deg, rgba(251, 241, 56, .3) 0%, rgba(253, 249, 182, 0) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .2s;
}
.menu-grid-gradient:hover {
    background: linear-gradient(180deg, rgba(251, 241, 56, .6) 0%, rgba(253, 249, 182, 0) 100%);
}
.menu-grid-gradient:hover .menu-grid-btn {
    opacity: 1;
}

.menu-grid-img-2 {
    position: absolute;
    background-image: url(../img/@2x/Vebinar-1@2x.png);
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.menu-grid-img-3 {
    position: absolute;
    background-image: url(../img/@2x/Vebinar2@2x.png);
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: -1;    
}

.menu-grid-maraphon-text {
    padding: 30px;
}
.menu-grid-box-veb1 {
    position: relative;
    background-image: url(../img/@2x/Vebinar-1@2x.png);
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    grid-area: b;
}
.menu-grid-box-veb2 {
    position: relative;
    background-image: url(../img/@2x/Vebinar2@2x.png);
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    grid-area: c;
}
.menu-grid-btn {
    max-width: 221px;
    padding: 20px 37px;
    background-color: #2B3541;
    color: #FBF138;
    border: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0;
    cursor: pointer;
}
.menu-greed-item-maraphon:hover .menu-grid-btn {
    background-color: #2B3541;
    color: #FBF138;
    opacity: 1;
    transition: 0.2s;
}

.menu-greed-1nt:hover {
    background-image: url(../img/@2x/maraphonhover@2x.png);
    transition: 0.2s;
}
.menu-grid-data {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #2B3541;
    opacity: 0.6;
}
.menu-grid-maraphon-mrf {
    position: absolute;
    background-color: #FBF138;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 150%;
    right: 0;
    bottom: 0;
}
.menu-greed-item-maraphon:hover .menu-grid-maraphon-mrf {
    opacity: 0;
    transition: 0.2s;
}
.menu-grid-btn-add {
    display: none;
    position: absolute;
    background-image: url(../img/icons/add.svg);
    height: 30px;
    width: 30px;
    right: 0;
    bottom: 0;
    border: none;
}
.menu-grid-title {
    max-width: 260px;
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    padding-top: 19px;
    padding-bottom: 40px;
    margin: 0;
}

.training {
    margin-top: 118px;
}
.functional-training {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 30px;   
    padding: 20px 30px;
    border: 1px solid rgba(43, 53, 65, 0.5);
    /* box-shadow: 0.5px 0 0 2px rgba(43, 53, 65, 0.5); */
}
.functional-training:hover {
    border: none;
    background:rgba(243, 243, 243, 0.5);
    box-shadow: 0px 4px 30px rgba(43, 53, 65, 0.2);
}
.training-titles {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.training-image {
    /* padding-top: 55px; */
    padding-bottom: 0px;
}
.training-title {
    max-width: 356px;
    font-weight: bold;
    font-size: 40px;
    line-height: 125%;
}
.training-data {
    font-weight: bold;
    font-size: 28px;
    line-height: 125%;
}
.training-flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 250px 60px 95px 301px; */
    grid-template-rows: 250px 40px 71px 283px;

    grid-auto-flow: column;
    gap: 20px;
}
.training-flex div:nth-child(1) {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}
.training-flex div:nth-child(2) {
    grid-column: 1 / 1;
    grid-row: 2 / 5;
}

.training-flex div:nth-child(3) {
    
    grid-column: 2 / 2;
    grid-row: 1 / 4;
}

.training-flex div:nth-child(4) {
    grid-column: 2 / 2;
    grid-row: 4;
}
.training-flex div:nth-child(5){
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}
.training-flex div:nth-child(6){
    grid-column: 3 / 3;
    grid-row: 3 / 5;
}
.training-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 0;
}
.menu-text-span {
    font-size: 18px;
    line-height: 150%;
    padding-top: 20px;
    margin: 0;  
}
.menu-text-hidden {
    position: absolute;
    /* padding-top: 40px; */
    /* margin-top: 40px; */
    /* display: none; */
    opacity: 0;
}

.functional-training:hover .menu-text-hidden {
    /* display: block; */
    position: relative;
    opacity: 1;
    padding-top: 20px;
    margin-top: 0;
    transition: 0.2s;
}
.functional-training:hover .paddng {
    padding-top: 8px;
    transition: 0.2s;
}
.power-mix {
    padding: 20px 30px;    
    /* max-height: 433px; */
    max-width: 367px;
}
.power-mix-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    padding-top: 40px;
}

.training-date {
    display: block;
    text-align: right;
    font-size: 18px;
    line-height: 150%;
    color: #010101;
    opacity: 0.7;
}
.power-mix-img {
    padding-top: 95px;
    padding-bottom: 40px;

}

.body-sculpt-img {
    padding-top: 191px;
    padding-bottom: 40px;
}

.breathing-practices-img {
    padding-top: 94px;
    padding-bottom: 40px;
}
.l-a-b-img {
    padding-top: 133px;
    padding-bottom: 40px;
}
.complex-warm-img {
    padding-top: 182px;
    padding-bottom: 40px;
}

/* актив для js сегодня дата */
.training-action {
    background: linear-gradient(180deg, rgba(251, 241, 56, 0.7) 0%, rgba(253, 249, 182, 0.45) 100%);    
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
    border: none;
}
.training-action:hover {
    background: linear-gradient(180deg, rgba(251, 241, 56, 0.7) 0%, rgba(253, 249, 182, 0.45) 100%);    
    box-shadow: 0px 4px 30px rgba(43, 53, 65, 0.2);
}
.training-action .menu-text-hidden {
    position: relative;
    opacity: 1;
    padding-top: 20px;
    margin-top: 0;
    transition: 0.2s;
}
.training-active-data {
    font-weight: 700;
}
.mailing {
    max-height: 100%;
    position: relative;
    background-color: #F3F3F3;
    margin-top: 160px;
    z-index: 2;
}
.mailing-form {
    padding-left: 23px;
}
.mailing-item {
    position: relative;
    max-width: 646px;
    margin: 0 auto;    
    padding-top: 80px;
    padding-bottom: 80px;
}
.mailing-title {
    position: relative;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    margin: 0;
    padding-bottom: 40px;
}
.mailing-title::before {    
    position: absolute;
    content: " ";
    top: -17px;
    left: -4px;
    height: 53px;
    width: 53px;
    background-color: #FBF138;  
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    border-radius: 100%;  
    z-index: -1;
}



.mailing-image {
    position: absolute;
    background-color: #FBF138;
    height: 53px;
    width: 53px;    
    border-radius: 100%;
    top: 87px;
    left: 120px;
    z-index: 1;
}
.mailing-input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    font-size: 18px;
    border: none;
    outline: none;
}
.mailing-input:hover {
    background-color: #F3F3F3;
    transition: 0.2s;
}
.mailing-item-flex {
    display: flex;
    gap: 20px;
}
.mailing-button {
    display: block;
    padding: 20px 43px;
    background-color: #FBF138;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
.mailing-button:hover {
    background-color: #2B3541;    
    color: #FBF138;
    transition: 0.2s;
} 
/* согласие на обработку данных */
.mailing-argee{
    padding-top: 11px;    
}
.mailing-checkbox {
    display:none;
}
.mailing-label {
    max-width: 600px;
    cursor: pointer;
    font-size: 11px;
    line-height: 150%;
    color: rgba(43, 53, 65, 0.5); 
}

.mailing-checkbox + .mailing-label {
    background-image: url(../img/icons/check-box-empty.svg);
    background-size: 18px 18px;       
    background-repeat: no-repeat;
    display:inline-block;
    padding: 2px 0 0 23px;
}
.mailing-checkbox:checked + .mailing-label {
    background: url(../img/icons/check_box.svg);
    background-repeat: no-repeat;   
}

.mailing-person {
    text-decoration-line: underline;
    color: rgba(43, 53, 65, 0.5);
}
.mailing-person:hover {
    color: rgba(43, 53, 65, 1);
    transition: 0.2s;
}
.company {
    margin-top: 4px;
}
.company-blok {
    padding-top: 160px;
    padding-bottom: 45px;    
    padding-top: 160px;
    padding-bottom: 45px;
    max-width: 1143px;
    margin: 0 auto;    
}

/* о компании */
.company-flex {
    display: flex;
    justify-content: space-between;
    gap: 77px;
}

.company-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 125%;
    padding-top: 0;
    padding-bottom: 19px;
    margin: 0;
}
.company-flex-img {
    position: relative;
}
.company-flex-img:after {
    content: "";
	display: block;    
    width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
    background: linear-gradient(180deg, rgba(251, 241, 56, 0.3) 0%, rgba(253, 249, 182, 0.45) 100%);
} 
.company-text {
    font-size: 18px;
    line-height: 150%;
    padding-bottom: 53px;
    padding-top: 0;
    margin: 0;
}
.company-button {
    padding: 20px 52px;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #2B3541;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
}
.company-button:hover {
    color: #FBF138;
    background-color: #2B3541;
    transition: 0.2s;
}

.company-blok-2 {
    display: flex;
    justify-content: space-between;
    gap: 67px;
    list-style-type: none;
    padding-left: 0;
}
.company-blok-2 li {
    flex-basis: content;
}
.hidden-text {
    display: none;
}
.company-blok-2-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
}
.company-blok-2-text {
    font-size: 18px;
    line-height: 150%;
    opacity: 0.6;
}
/* footer ---------------------------------------*/
footer {
    position: relative;
    margin: 0 auto;
    background: #F3F3F3;
    padding-top: 33px;
    padding-bottom: 21px;
    z-index: 0;
    margin-top: 151px;
}
.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 56%;
    max-width: 631px;
    gap: 39px;
}
.footer-nav .header-logo {
    padding-right: 39px;
}
.footer-nav-flex {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 40px;
    padding-left: 0;
    flex-basis: 75%;
}
.footer-social {
    min-width: 84px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
.footer-contacts-a {
    display: block;
    position: relative;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    margin: 0;
}
.footer-contacts-a::before {    
    content: " ";
    position: absolute;
    top: -9px;
    left: -13px;    
    background-color: #FBF138;  
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    border-radius: 100%;
    height: 25px;
    width: 25px;
    
    cursor: pointer;
    z-index: -1;
}
.footer-social-fb {
    display: block;
    background-image: url(../img/icons/FB.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 28px;
    height: 28px;
    padding: 8px 0;
}
.footer-social-fb:hover {
    width: 34px;
    height: 34px;
    transition: 0.2s;
    padding: 0;
}
.footer-social-in {
    display: block;
    background-image: url(../img/icons/ins.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 28px;
    height: 28px;
    padding: 8px 0;
}
.footer-social-in:hover {
    width: 34px;
    height: 34px;
    transition: 0.2s;
    padding: 0;
}

.footer-ankor {
    color: #2B3541;
    text-decoration: none;
    font-size: 14px;
    line-height: 150%;
}
.footer-copyright {
    display: flex;    
    justify-content: space-between;
    font-size: 14px;
    line-height: 150%;
    color: rgba(43, 53, 65, 0.5);
}
.footer-copyright p {
    padding-top: 0;
    margin-top: 0;
}
.footer-contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 292px;
}
.footer-contacts-email {
    padding: 10px 0;
    align-items: center;
}
.footer-frontend-blok
.frontend-blok {
    text-decoration: underline;
    color: rgba(43, 53, 65, 0.5);
}
.frontend-blok:hover {
    color: rgba(43, 53, 65, 1);
    transition: 0.2s;
}
/* modal */
.modal-window {
    background-color: #F3F3F3;
    display: none;
    position: absolute;
}
.wrap {
    max-width: 341px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}
.header-modal {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 29px;
}
.header-modal-logo {
    background-image: url(../img/logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 78px;
    height: 24px;
}
.header-modal-close { 
    background-color: transparent;
    background-image: url(../img/icons/close.svg);
    background-size: cover;
    background-repeat: no-repeat;    
    border: none;
    width: 20px;
    height: 19px;
}
.modal-nav {
    padding: 0;
    margin: 0;
    list-style: none;
}
.modal-nav li:first-child {
    padding-top: 40px;
}
.modal-nav li {
    padding-top: 20px;
}
.modal-nav-a {
    text-decoration: none;
    font-size: 16px;
    line-height: 150%;
    color: #2B3541;
}
.modal-border {
    display: block;
    background-color: #2B3541;    
    opacity: 0.2;
    width: 100%;
    height: 1px;
}
.modal-item {
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 20px;
    margin-bottom: 20px;
}
.modal-social-in {
    display: block;
    background-image: url(../img/icons/ins.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 26px;
    height: 26px;
}
.modal-social-fb {
    display: block;
    background-image: url(../img/icons/fb.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 26px;
    height: 26px;
}
.modal-button-item {
    position: relative;
}
.modal-btn {
    display: block;
    max-width: 340px;
    padding: 25px 73px;
    margin: 51px auto 35px;
    color: #2B3541;
    background-color: #FBF138;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
}
.modal-btn-bg {
    position: absolute;
    background: rgba(43, 53, 65, 0.4);
    width: 100%;
    height: 135px;
    bottom: 0;
}

/* popup */

.pupup-relativ {
    position: relative;
}
.wrap-popup {
    position: absolute;
    background-color: #F3F3F3;
    max-width: 600px;
    height: 577px;
    left:calc(50% - 300px);
    z-index: 3;
}
.popup {
    position: relative;
}
.popup-close {
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    background-color: transparent;
    background-image: url(../img/icons/close.svg);
    background-size: cover;
    background-repeat: no-repeat;    
    border: none;
    width: 20px;
    height: 19px;
    z-index: 4;
}
.popup-close:hover {
    border-radius: 50%;
}
.popup-title {
    position: relative;
    text-align: center;
    padding: 60px 98px 0;
    margin: 0 auto;
}
.popup-text {
    font-weight: bold;
    font-size: 28px;
    line-height: 125%;
    padding-top: 0;
    margin: 0;
}
.popup-text::before {
    content: " ";
    position: absolute;
    top: 30px;
    left: 120px; 
    background-color: #FBF138;
    border-radius: 100%;
    height: 53px;
    width: 53px;
    cursor: pointer;
    z-index: -1;    
}
.popup-desc {
    font-size: 18px;
    line-height: 150%;
    padding-top: 18px;
    margin: 0;
}
.popup-form {
    max-width: 500px;
    padding-top: 40px;
    /* padding-left: 50px; */
    /* padding-right: 50px; */
    margin: 0 auto;
}
.input-container {
    max-width: 500px;
}
.popup-text-hidden {
    display: none;
}
.popup-mail {
    background-color: #fff;
    background-image: none;
    border: none;
    color: #2B3541;
    font-size: 18px;
    padding: 19px 213px 19px 25px;
    outline: none;
    /* opacity: 0.3; */
}
.popup-mail:hover, .popup-tel:hover {
background: rgba(243, 243, 243, 1);
}
.popup-tel {
    background-color: #fff;
    background-image: none;
    border: none;
    color: #2B3541;
    font-size: 18px;
    padding: 19px 213px 19px 25px;
    margin-top: 20px;
    outline: none;
    /* opacity: 0.3; */
}
.pupup-btn {
    display: block;
    margin: 40px auto;
    padding: 20px 194px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    border: none;
    cursor: pointer;
}
.pupup-btn:hover {
    background-color: #2B3541;
    color: #FBF138;
    transition: 0.2s;
}

  /* @media ------------------------------- */
/* @media (min-width: 1550px) {
    .header-items {        
        gap: 20vw;
    } 
    
}*/
@media (max-width: 1142px) {    
    .footer-copyright {
    font-size: 14px;
    }
}

@media (max-width:1112px) {
    .header-logo {
        margin-right: 30px;
    }
    .menu-title {
        max-width: 603px;
        font-size: 3.7vw;
        line-height: 125%;
    }
}
@media (max-width: 1024px) {
    .menu-bg {
        right: -4.7vw;
    width: 546px;
    height: 467px;
    }
    .menu-visual {
        max-width: 433px;
        top: 0;
        z-index: -1;
        right: auto;
        left: 398px;
    }
    .box-gradient-left {
        height: 467px;
    }
    .box-gradient-right {
        height: 467px;
    }
    .menu-text {
        max-width: 520px;
        padding-top: 90px;
        padding-left: 105px;
    }
    .menu-title {
        font-size: 30px;
    }
    .menu-title-p {
        padding-left: 0;
    }
    .menu-arroy {
        left: 121px;
        bottom: -65px;
    }
    .events {
        margin-top: 0px;
    }
    .menu-titles {
        font-size: 32px;
        line-height: 75%;
        padding-top: 20px;
        padding-bottom: 25px;
        margin: 125px 0 0px;
    }
    .menu-item-text {
        font-size: 28px;
        padding-top: 14px;
    }
    .menu-item-text-sport {
        font-size: 18px;
        padding-bottom: 35px;
    }
    .header-items {
        flex-basis: 62.6%;
    }
    .menu-greeds {
        height: 58.7vw;
    }
    .menu-grid-title {
        font-size: 23px;
        padding-top: 10px;
    }
    .training-title {
        font-size: 32px;
    }
    .company-flex-img img {
        width: 470px;
        height: 272px;
    }
    .container {
        max-width: 1024px;
    }
    .company-title {
        font-size: 30px;
    }
}
@media (min-width: 769px) and (max-width: 890px) {
    .menu-grid-title {
        font-size: 20px;
    }
    .menu-grid-maraphon-text {
        padding: 20px;
    }
    .menu-grid-btn {
        max-width: 208px;
        padding: 12px 14px;
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .wrapper {
        max-width: 768px;
        margin: 0 auto;
    }
    .header {
        padding-top: 25px;
    }
    .header-items {
        flex-basis: 21.6%;
    }
    .menu-visual {
        display: none;
    }

    .header-burger {
        display: block;
        background-image: url(../img/icons/burger.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 29px;
        height: 22px;
        margin-left: 57px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .menu-text {
        max-width: 357px;
        padding-top: 28px;
    }
    .menu-title {
        font-size: 26px;
    }
    .menu-item-text {
        font-size: 26px;
        padding-top: 42px;
    }
    .header-nav {
        display: none;
        /* нави отключаем */
    }
    .header-social {
        gap: 20px;
    }
    .header-social-in {
        width: 26px;
        height: 26px;
    }
    .header-social-fb {
        width: 26px;
        height: 26px;
        text-align: center;
    }
    .header-logo {
        width: 78px;
        height: 24px;
    }
    .header-logo:hover {
        width: 79px;
        transition: 0.2s;
    }
    .menu-grid-box-marafon {
        grid-area: a;
    }
    .menu-grid-box-veb1 {
        grid-area: b;
    }
    .menu-grid-box-veb2 {
        grid-area: c;
    }
    .training-flex {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 114px;
        grid-auto-rows: minmax(114px, auto);
        grid-auto-flow: row;
        gap: 20px;
    }
    
.training-flex div:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.training-flex div:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.training-flex div:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.training-flex div:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.training-flex div:nth-child(5){
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}
.training-flex div:nth-child(6){
    grid-column: 1 / 2;
    grid-row: 6 / 7;
}
.training-block {
    display: flex;
}
    .menu-greeds {
        grid-template-areas: 
        "a b" 
        "c c";
        gap: 10px;
    }
    .menu-greed-item-maraphon {
        max-width: 100%;
    }
    .menu-greeds .menu-greed-item-maraphon:nth-child(1) {
        grid-area: a;
        width: 100%;
        /* grid-column: 1 / 1; */
        /* grid-row: 1 / 1; */
    }
    .menu-greeds .menu-greed-item-maraphon:nth-child(2) {
        grid-area: b;
        /* grid-column: 2 / 2; */
        /* grid-row: 1 / 1; */
    }
    .menu-greeds .menu-greed-item-maraphon:nth-child(3) {
        grid-area: c;
        width: 100%;
        /* grid-column: 1 / 2; */
        /* grid-row: 2 / 2; */
    }
    .menu-grid-maraphon-mrf {
        display: block;
        padding: 6px 15px;
        left: 0;
        right: auto;
        font-size: 12px;
    }
    .menu-grid-btn-add {
        display: block;
    }
}
@media (max-width: 918px) {
    .menu-text-span {
        font-size: 16px;
        line-height: 140%;
        padding-top: 18px;
        margin: 0;
    }
    .functional-training {
        padding: 15px 15px;
    }
    .training-text {
        font-size: 17px;
    }
}
@media (max-width: 567px) {
    .header-logo {
        width: 78px;
        height: 24px;
    }
    .header-burger {
        display: block;
    }
    .header-nav {
        display: none;
    }
    .container {
        max-width: 547px;
    }
    .menu {
        margin-bottom: 0;
        padding-bottom: 0;
        margin-top: 10px;
    }
    .menu-visual {
        display: none;
    }
    
    .menu-text {
        padding-top: 1px;
    }
    .header-social-in {
        width: 26px;
        height: 26px;
    }
    .header-social-fb {
        width: 26px;
        height: 26px;
    }
    .header-social {
        gap: 20px;
    }
    .menu-title {
        font-size: 32px;
    }
    .menu-item-text {
        font-size: 36px;
        padding-top: 40px;
    }
    .menu-title-p {
        padding-left: 0;
    }
    .menu-arroy {
        display: none;
    }
    .menu-button {
        padding: 20px 177px;
    }
    .menu-grid-maraphon-text {
        padding: 20px;
    }
    .menu-bg-mobil {
        display: flex;
        justify-content: space-between;
        background: linear-gradient(180deg, #FDF9B6 100%, #FDF9B6 -100%);
        background-image: url(../img/@1x/image-1-girl.png);
        background-repeat: no-repeat;
        height: 310px;
    }
    .menu-bg-mobil-fon1 {
        display: block;
        background: linear-gradient(90deg, rgba(251, 241, 56, 0.2) 0%, rgba(253, 249, 182, 0.45) 145.23%);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 310px;
        width: 213px;
        right: 90px;
        z-index: -1;
    }
    .menu-bg-mobil-fon2 {
        display: block;
        background: linear-gradient(90deg, rgba(253, 249, 182, 0.2) 0%, rgba(253, 249, 182, 0.7) 166.81%);
        /* background: linear-gradient(rgb(253, 249, 182) 100%, rgb(253, 249, 182) -100%); */        
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 310px;
        width: 117px;
        right: 40px;
        z-index: -1;
    }

    .menu-greeds {
        grid-template-rows: 86vw 93vw;
        grid-template-columns: 48% 48%;
        grid-template-areas: "a b" "c c";
        gap: 10px 10px;
    }
    .menu-titles {
        font-size: 26px;
        padding-top: 30px;
        padding-bottom: 20px;
        margin-top: 130px;
        margin-bottom: 0;
        margin: 48px 0 0;
    }
    .menu-grid-data {
        font-size: 12px;
    }
    .menu-grid-title {
        max-width: 180px;
        font-size: 20px;
        padding-top: 16px;
        }
    .menu-grid-btn {
        display: none;
    }
    .training-title {
        max-width: 340px;
        font-size: 26px;
    }
    .training-data {
        font-size: 16px;
        opacity: 0.7;
    }
    .training-flex {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .training-date {
        font-size: 16px;
    }
    .training-block {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        max-width: 234px;
    }
    .menu-text-hidden {
        padding-top: 16px;
        margin-top: 0px;
        left: 78px;
        max-width: 244px;
    }
}
@media (max-width: 360px) {
    .wrapper {
        max-width: 100%;
        margin: 0 auto;
    }
    .container {
        max-width: 340px;
        padding: 0;
    }
    .menu {
        max-width: 359px;
        padding-right: 0px;
        padding-left: 0px;
        margin-bottom: 0px;
        margin-top: 0;
        text-align: center;
    }    
    .header {
        padding: 30px 10px 60px;
        
    }
    .header-burger {
        display: block;
        background-image: url(../img/icons/burger.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 29px;
        height: 22px;
        margin-left: 57px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    .header-nav {
        display: none;
        /* нави отключаем */
    }
    .header-social {
        gap: 20px;
    }
    .header-social-in {
        width: 26px;
        height: 26px;
    }
    .header-social-fb {
        width: 26px;
        height: 26px;
        text-align: center;
    }
    .header-logo {
        width: 78px;
        height: 24px;
    }
    .header-logo:hover {
        width: 79px;
        transition: 0.2s;
    }
    .header-items {
        flex-basis: 47.3%;
    }
    /* навигация */
    .menu-bg {
        background-image: none;
        padding: 0;
        margin-right: 0;
        margin-top: 0;
        height: auto;
    }
    
    .menu-title {
        max-width: 358px;        
        font-size: 26px;
        margin: 0;
        text-align: left;
        padding-left: 10px;
    }
    .menu-text {        
        max-width: 360px;
        padding-top: 0;
        padding-left: 0;
    }    
    .menu-item-text {
        font-size: 26px;
        padding-top: 44px;
        padding-bottom: 16px;    
        padding-left: 0;
        padding-right: 19px;
    }
    .menu-item-text-sport {
        max-width: 255px;
        font-weight: 400;
        font-size: 16px;
        padding: 0;
        text-align: left;
    }
    .menu-button {
        /* display: block; */
        max-width: 340px;
        text-decoration: none;
        padding: 20px 72px;
        font-weight: bold;
        font-size: 16px;
        margin: 40px auto;
    }
    .menu-button:hover {
        color: #FBF138;
        background-color: #2B3541;
        transition: 0.2s;
    }
    
    .mailing-item {
        position: relative;
        padding-top: 57px;
        padding-bottom: 145px;
    }
    .mailing-item-flex {
        display: block;
    }
    .mailing-argee {
        padding-left: 10px;
        padding-top: 10px;
    }
    .mailing-button {
        position: absolute;
        padding: 20px 110px;
        bottom: 0;
        margin: 0 0 40px;
    }
    .mailing-form {
        padding-left: 0px;
    }
    .mailing-title {
        position: relative;
        font-weight: bold;
        font-size: 26px;
        line-height: 31.69px;
        text-align: center;
        margin: 0;
        padding-bottom: 50px;
    }
    .mailing-title::before {
        top: -10px;
        left: 41px;
        height: 31px;
        width: 31px;
    }
    .mailing-input {
        max-width: 360px;
        padding: 19px 56px 19px 25px;
        font-size: 18px;
        margin: 0px 10px;
    }
    .company {
        position: relative;
        margin-top: 80px;
    }
    .company-button {
        padding: 20px 118px;
        position: absolute;
        bottom: 274px;
        margin: 0 auto;
    }
    .company-blok {
        padding-top: 0;
        padding-bottom: 0px;
        max-width: 360px;
        margin: 0 auto;
    }
    .menu-arroy {
        display: none;
    }
    
    .menu-titles {
        font-size: 26px;
        line-height: 125%;
        padding-top: 30px;
        padding-bottom: 20px;
        margin-top: 52px;
    }
    .modal-window {
        /* display: block; */
        opacity: 1;
    }
    .header-modal-close {
        background-color: transparent;
    }
    .footer-flex {
        display: block;
    }
    .footer-nav {
        display: block;
        max-width: 360px;
    }
    .footer-nav .header-logo {
        padding: 0;
        margin: 0 auto;
    }
    .footer-nav-flex {
        gap: 0;
    }
    .footer-contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 340px;
    }
    .footer-contacts-a {
        font-size: 12px;
        line-height: 18px;
    }
    .footer-contacts-a::before {
        top: -9px;
        left: -5px;        
        height: 20px;
        width: 20px;
    }
    .footer-social {
        min-width: 77px;
    }
    .footer-social-in {
        height: 27px;
    }
    .footer-social-fb {
        width: 27px;
        height: 27px;
    }
    .footer-copyright {
        display: block;
        text-align: center;
        font-size: 10px;
    }
    .hidden-text {
        display: block;
    }
    .company-flex {
        display: flex;
        flex-direction: column;
        justify-content: start;
    gap: 0px;
    }
    .company-flex-img {
        margin-top: 145px;
        order: 3;
    }
    .company-flex-img img {
        width: 100%;
        height: auto;
    }
    .company-flex-text {
        order: 1;
        padding-left: 0;
        padding-right: 0;
    }
    .company-title {
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        padding: 0 10px 16px;
        margin: 0;
    }
    .company-text {
        font-size: 16px;
        line-height: 150%;
        padding: 0 10px;
        margin: 0;
    }
    .company-blok-2 {
        max-width: 223px;
        display: block;
        padding-top: 0;
        padding-left: 10px;
        order: 2;
    }
    .company-blok-2-title {
        line-height: 19.2px;
    }
    .company-blok-2 p {
        font-size: 16px;
        padding: 0;
        padding-bottom: 16px;
        margin: 0;
    }
    .company-blok-2 .company-blok-2-text {
        padding-bottom: 23px;
    }
    .hidden-mobil {
        display: none;
    }
}
@media (max-width: 320px) {
    .modal-btn {
        max-width: 320px;
    }
    .modal-btn {
        padding: 25px 49px;
        font-size: 15px;
    }
    .header-modal-close { 
        background-color: transparent;
        width: 20px;
        height: 19px;
    }
    .modal-window {
        width: 100%;
    }
}